#app {
	position: absolute;
	z-index: 5;
	user-select: none;
}
#canvas {
	position: absolute;
	background-color: #121519;
	z-index: 1;
}
.full {
	width: 100%;
	height: 100%;
}
.helper {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: white;
}
button:focus, button {
	color: #555;
	position: relative;
	border-color: black;
	margin: 5px;
	transition-duration: 0.2s;
}
button:active {
	transform: scale(0.8);
}
button:hover {
	color: #555;
	border-color: white;
}
dialog {
	width: 500px;
	height: 300px;
	padding: 0;
}
input {
	text-align: center;
}